/* CUSTOM PROPS */
:root {
    --text-color: #69707D;
    --black: #1D2026;
    --orange: #FF7E1B;
}


/* FONT-FACES */
@font-face {
    font-family: 'Kumbh Sans';
    src: url('../fonts/') format('woff2'),
    url('../fonts/KumbhSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Kumbh Sans';
    src: url('../fonts/KumbhSans-Bold.woff2') format('woff2'),
    url('../fonts/KumbhSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}



/* GLOBAL STYLES */
html {
    height: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: 26px;
    font-family: "Kumbh Sans", "Arial", sans-serif;
    background-color: #fff;
    color: var(--text-color);
}

img {
    max-width: 100%;
    height: auto;
}


/* AUTO-FILLS STYLES*/
/* input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    border-color: transparent;
    -webkit-text-fill-color: inherit;
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
} */

/* PLACEHOLDER-STYLES */
/* ::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder { 
    color: rgba(52, 49, 61, 0.5);
    opacity: 1;
}  */


/* VISUALLY-HIDDEN */
.visuallyhidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* CONTAINER */

.container {
    width: 100%;
    max-width: 1150px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: auto;
    margin-left: auto;
}

/* MAIN-CONTENT */

main {
    flex-grow: 1;
}



/* LOGO */
.logo {
    display: inline-block;
    margin-right: 20px;
}

.logo:hover {
    opacity: 0.8;
}

.logo:active {
    opacity: 0.6;
}

.logo__img {
    display: block;
    width: 138px;
    height: 20px;
    object-fit: contain;
}


/* SITENAV */
.sitenav__list {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

.sitenav__item {
    position: relative;
    padding-bottom: 40px;
    padding-top: 41px;
}

.sitenav__item:not(:last-child) {
    margin-right: 32px;
}

.sitenav__link::after {
    display: none;
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: 0;
    left: 0;
    background-color: #FF7E1B;
    content: "";
}

.sitenav__link {
    display: block;
    color: var(--text-color);
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 173.333% */
    text-transform: capitalize;
    text-decoration: none;
}

.sitenav__link:hover {
    color: var(--black);
}

.sitenav__link:hover::after {
    display: block;
}




/* SITE-HEADER */

.site-header__container {
    display: flex;
    align-items: center;
}

.site-header__logo {
    margin-right: 36px;
}

.site-header__sitenav {
    margin-right: auto;
}

.site-header__bogie-link {
    margin-right: 46px;
    color: var(--text-color);
}

.site-header__bogie-link:hover {
    color: var(--black);
}

.site-header__bogie-link:active {
    opacity: 0.6;
}

/* .site-header__img-wrapper {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid transparent;
} */

.site-header__img {
    width: 50px;
    height: 50px;
    border: 2px solid transparent;
    border-radius: 50%;
    object-fit: contain;
}

.site-header__img:hover {
    border: 2px solid var(--orange);
}

.site-header__line {
    width: 1110px;
    height: 1px;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: auto;
    margin-left: auto;
    color: #E4E9F2;;
    text-align: center;
}


/* MAIN-CONTENT */
/* MAIN-PAGE */
.main-page {
    padding-top: 90px;
    padding-bottom: 132px;
    padding-right: 42.5px;
    padding-left: 42.5px
}

.main-page__container {
    display: flex;
    padding-right: 42.5px;
    padding-left: 42.5px
}

.main-page__img-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    max-width: 445px;
    margin-right: 125px;
}

.main-page__img {
    width: 445px;
    height: 445px;
    margin-bottom: 32px;
    object-fit: contain;
    border-radius: 15px;
}

.main-page__img-list {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}


.images__item:not(:last-child) {
    margin-right: 31px;
}

.images__link {
    display: inline-block;
    text-decoration: none;
    /* border: 2px solid black; */
}

.images__img {
    width: 88px;
    height: 88px;
    object-fit: contain;
    border-radius: 12px;
    border: 2px solid transparent;
}

.images__img:hover {
    border: 2px solid var(--orange);
    opacity: 0.8;
}

.images__img:active {
    opacity: 0.6;
}
